/* CONFIGURAÇÕES GERAIS */

@charset "UTF-8";

@font-face {
    font-family: 'Sobiscuit';
    src: url('fonts/Sobiscuit.otf') format('opentype'), url('fonts/Sobiscuit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bunny Ear';
    src: url('fonts/Bunny\ Ear.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

* { margin: 0px; padding: 0px; font-size: 16px;}

/* PREDEFINIÇÕES DE ROOT */

:root {

}

/* CONFIGURAÇÕES DE CAIXAS DE FUNDO */

body {
    background-color: #181818;
}

header {
    background-image: linear-gradient(to bottom, #3c3c3c, #181818);
    height: 150px;
    width: 100%;

}

nav {
    background-color: #181818;
    color: azure;
    display: flex;
    height: 50px;
    width: 100%;
}

main {
    background-color: #3c3c3c;
    max-width: 1080;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 10%;
    color: lightcyan;
}

footer {
    display: block;
    align-self: end;
    background-color: #181818;
    text-align: center;
    color: azure;
    position: fixed bottom;
    padding: 1%;
}

/* CONFIGURAÇÕES DE CONTEÚDO INTERNO */

header img {
    display: block;
    padding: 25px;
    margin: auto;
    height: 100px;
    width: auto;
}

header h1 {
    color: azure;
    padding-top: 10px;
    text-align: center;
}

header a {
    display: block;
    color: azure;
    font-size: 2.5em;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0px auto;

    list-style: none;
}

nav ul img {
    display: block;
    width: 25px;
}

nav ul#Menu {margin-left: 1%;}
nav ul#Sociais {margin-right: 1%;}

nav a {
    display: block;
    padding: 10px;
    
    font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

main h1 {
    font-size: 30px;
    text-align: center;
}

main h3 {
    font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 0px 10px 0px;
    font-size: 32px;
}

main p {
    font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 0px;
    font-size: 18px;
    text-align: justify;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

/* CONFIGURAÇÕES DE ANIMAÇÃO */

header a:hover {
    color: cadetblue;
}

nav a:hover {
    background-color: #28ffc6;
    border-radius: 10px;
    
    font-weight: bold;
    color: #181818;
}

main h1 {
    text-align: center;
    margin: 20px 0px 10px 0px
}

main p {
    text-align: justify;
}