/* CONFIGURAÇÕES GERAIS */

@charset "UTF-8";

* { margin: 0px; padding: 0px; font-size: 16px;}

/* PREDEFINIÇÕES DE ROOT */

:root {

}

/* CONFIGURAÇÕES DE CAIXAS DE FUNDO */

body {
    background-color: azure;
}

header {
    background-image: linear-gradient(to bottom, #3c3c3c, #181818);
    height: 150px;
    width: 100%;

}

nav {
    background-color: #181818;
    color: azure;
    display: flex;
    height: 50px;
    width: 100%;
}

main {
    margin: 20px 10% 20px 10%;
}

footer {
    background-color: #181818;
    text-align: center;
    color: azure;
    position: fixed bottom;
    padding: 0.5%;
}

/* CONFIGURAÇÕES DE CONTEÚDO INTERNO */

header img {
    display: block;
    margin: auto;
    justify-items: center;

    width: 100px;
    border: 5px;
    border-style: solid;
    border-color: cadetblue;
    border-radius: 50%;
}

header h1 {
    color: azure;
    padding-top: 10px;
    text-align: center;
}

header a {
    color: azure;
    font-size: 2.5em;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0px auto;

    list-style: none;
}

nav ul img {
    display: block;
    width: 25px;
}

nav ul#Menu {margin-left: 1%;}
nav ul#Sociais {margin-right: 1%;}

nav a {
    display: block;
    padding: 10px;

    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

article h1 {
    background-image: linear-gradient(to right, #3c3c3c, #f0f0ff, #3c3c3c);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    font-size: 2em;
}

article p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

/* CONFIGURAÇÕES DE ANIMAÇÃO */

header a:hover {
    color: cadetblue;
}

nav a:hover {
    background-color: cadetblue;
    border-radius: 10px;
    
    font-weight: bold;
    color: #181818;
}

main h1 {
    text-align: center;
    margin: 20px 0px 10px 0px
}

main p {
    text-align: justify;
}