/* CONFIGURAÇÕES GERAIS */

@charset "UTF-8";

* { margin: 0px; padding: 0px;}

/* PREDEFINIÇÕES DE ROOT */

:root {

}

/* CONFIGURAÇÕES DE CAIXAS DE FUNDO */

body {
    background-color: azure;
}

header {
    background-image: linear-gradient(to bottom, #3c3c3c, #181818);
    height: 150px;
    width: 100%;

}

nav {
    background-color: #181818;
    display: flex;
    height: 50px;
    width: 100%;
}

main {
    margin: 20px 5% 20px 5%
}

footer {

}

/* CONFIGURAÇÕES DE CONTEÚDO INTERNO */

header img {
    display: block;
    margin: auto;
    justify-items: center;

    width: 100px;
    border: 5px;
    border-style: solid;
    border-color: #01dea5;
    border-radius: 50%;
}

header h1 {
    color: #01dea5;
    padding-top: 10px;
    text-align: center;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0px auto;

    list-style: none;
}

nav ul img {
    display: block;
    width: 25px;
}

nav ul#Menu {margin-left: 1%;}
nav ul#Sociais {margin-right: 1%;}

nav a {
    display: block;
    padding: 10px;

    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

/* CONFIGURAÇÕES DE ANIMAÇÃO */

nav a:hover {
    background-color: #01dea5;
    border-radius: 10px;
    
    font-weight: bold;
    color: #181818;
}

main h1 {
    text-align: center;
    margin: 20px 0px 10px 0px
}

main p {
    text-align: justify;
}